body {
  font-family: "Helvetica"; 
}

h3 {
  padding-left: 15px;
  color: black;
}

p {
  font-family: "Helvetica"; 
}

#header {
  font-family: "Cambria";
  text-align: center;
  margin-bottom: 30px;
}

#controlbox {
  font-family: "Helvetica"; 
  color: gray;
  width: 20%;
  float: left;
  padding-right: 30px;
}

#controlbox table{
  font-family: "Helvetica"; 
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  border-collapse: collapse;
}

#controlbox table tr td {
  font-family: "Helvetica"; 
  color: gray;
  border-left: 1px solid #000;
  padding: 20px;
/*  width: 20%;*/
  float: left;
}

#controlbox table td:first-child {
  border-left: none;
}

#spheres {
  float: left;
  width: 50%;
  margin-top: 80px;
}

#viz0 {
  font-family: "Helvetica"; 
}

#viz1 {
  font-family: "Helvetica"; 
}

#viz2 {
  font-family: "Helvetica"; 
}

#pad {
  padding:60px;
}

#eq {
  width:80px;
}

#treeTD {
  width: 70px;
}

#car {
  display: inline;
  width: 100px;
  padding: 5px;
  margin: 0;
}

#equi {
  border: 1px solid black;
  margin: 100px;

}


#threeD {
  margin-bottom: 20px;
}
td{
  text-align: center;
  border: 1px solid black;
}

#trees {
  width:650px;
  padding: 10px;
}

#tree {
  width:60px;
  padding:0;
}