body {
  font-family: sans-serif;
  background-color: #dddddd;
}

#header {
  border: solid black 4px;
  color: #118811;
}

#controlbox {
  color: #222222;
}

#controlbox table{
  margin-left: auto;
  margin-right: auto;
  border: solid black 3px;
  border-collapse: collapse;
}

#controlbox table tr td {
  color: #222222;
  border-left: 3px solid #000;
}

#controlbox table td:first-child {
  border-left: none;
}

#pad {
  padding:60px;
}

#eq {
  width:80px;
}

#treeTD {
  width: 70px;
}

#car {
  display: inline;
  width: 100px;
  padding: 5px;
  margin: 0;
}

#trees {
  width:650px;
  padding: 10px;
}

#tree {
  width:60px;
  padding:0;
}